@*@{
        ViewBag.Title = "Logado";
    }

    @if (Session["ColaboradorId"] != null)
    {*@
@*<h4> Bem vindo @Session["Usuario"].ToString()</h4>*@

<link href="~/Content/Menu.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<body>
    <div class="nav-side-menu">
        <div class="brand-menu">Menu</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                

                <li data-toggle="collapse" data-target="#dashboard" class="collapsed">
                    <div id="0">
                        <i class="fa fa-link"></i> @Html.ActionLink("Diretoria", "Index", "Planilha") <span class="arrow"></span>
                    </div>
                </li>

                <li data-toggle="collapse" data-target="#products" class="collapsed">
                    <a href="#" id="1"><i class="fa fa-link"></i> Atendimento <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>

                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="#" id="2"><i class="fa fa-link"></i> Imóvel <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                    <li>New Service 1</li>
                    <li>New Service 2</li>
                    <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#" id="3"><i class="fa fa-link"></i> RH <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                    <li>New New 1</li>
                    <li>New New 2</li>
                    <li>New New 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#" id="4"><i class="fa fa-link"></i> Tecnologia <span class="arrow"></span></a>
                </li>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#" id="5"><i class="fa fa-link"></i> Auditoria <span class="arrow"></span></a>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#" id="6"><i class="fa fa-link"></i> Cobrança <span class="arrow"></span></a>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#" id="7"><i class="fa fa-link"></i> Reativação <span class="arrow"></span></a>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#" id="8"><i class="fa fa-link"></i> Operações <span class="arrow"></span></a>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#" id="9"><i class="fa fa-link"></i> Contabilidade <span class="arrow"></span></a>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#" id="10"><i class="fa fa-link"></i> Compras <span class="arrow"></span></a>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#" id="11"><i class="fa fa-link"></i> Financeiro <span class="arrow"></span></a>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#" id="12"><i class="fa fa-link"></i> Cadastro <span class="arrow"></span></a>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#" id="13"><i class="fa fa-link"></i> Juridico <span class="arrow"></span></a>


            </ul>
        </div>
    </div>
</body>


}

